<div class="main">
    <div style="display: flex; align-items: center;">
        <h2
            style="text-align: center; color: green; letter-spacing: 2px; font-size:x-large; margin-bottom: 20px; margin-left: 45%;">
            <u>{{categoryName}}</u>
        </h2>
        <button class="btn btn-success" style="margin-left: 29.5%; height: 1cm; font-size: small;" *ngIf="(user=='admin')" (click)="addProduct()">Add Product</button>
    </div>
    <div class="container">
        <div class="row">

            <div *ngFor="let item of products" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6"
                style="margin-bottom: 10px;">
                <br>
                <div class="card card-hover" style="height: 9cm;">

                    <img class="card-img-top" src={{item.imagePath}} style="height: 5cm">

                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title" style="color: green;">{{item.productName}}</h4>
                        <p class="card-text" align="left" style="text-align: center; font-size: small;">{{item.productDescription}}</p>
                        <p class="card-text" align="right" style="font-size: small;"><b>{{item.productPrice | currency:'INR'}}</b></p>
                        <br>
                        <div style="display: flex; justify-content: center;">
                            <button class="btn btn-success" style="display: flex;" *ngIf="(user =='customer')" (click)="addToCart(item)" (click)="showToasterSuccess()">Add To Cart</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-danger" style="display: flex;" *ngIf="(user=='admin')" (click)="deleteProduct(item)">Delete</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-warning" style="display: flex;" *ngIf="(user=='admin')" (click)="editProduct(item)">Update</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit Product -->
<div class="modal" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Product</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table align="center">
                    <tr>
                        <td align="right"> Product Id: &nbsp;</td>
                        <td align="left"><input type="number" name="productId" style="width: 200px;" [(ngModel)]="editObject.productId" readonly /></td>
                    </tr>
                    <br>
                    <tr>
                        <td align="right"> Product Name: &nbsp;</td>
                        <td align="left"><input type="text" name="productName" style="width: 200px;" [(ngModel)]="editObject.productName" /></td>
                    </tr>
                    <br>
                    <tr>
                        <td align="right"> Product Price: &nbsp;</td>
                        <td align="left"><input type="text" name="productPrice" style="width: 200px;" [(ngModel)]="editObject.productPrice" /></td>
                    </tr>
                    <br>
                    <tr>
                        <td align="right"> Product Description: &nbsp;</td>
                        <td align="left"><input type="text" name="productDescription" style="width: 200px;" [(ngModel)]="editObject.productDescription" /></td>
                    </tr>

                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="updateProduct()" data-bs-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- Add New Product -->
<div class="modal" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table align="center">
                    <tr>
                        <td align="right"> Category: &nbsp;</td>
                        <!-- <td align="left"><input type="number" name="categoryId" style="width: 200px;" [(ngModel)]="product.category.categoryId" /></td> -->
                        <td align="left" >
                            <select name="categoryId" [(ngModel)]="product.category.categoryId" style="width: 200px;">
                                <option value="">Select Category</option>
                                <option value="{{catg.categoryId}}" *ngFor="let catg of categoryList" >{{catg.categoryName}}</option>
                            </select>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td align="right"> Product Id: &nbsp;</td>
                        <td align="left"><input type="number" name="productId" style="width: 200px;" [(ngModel)]="product.productId"></td>
                    </tr>
                    <br>
                    <tr>
                        <td align="right"> Product Name: &nbsp;</td>
                        <td align="left"><input type="text" name="productName" style="width: 200px;" [(ngModel)]="product.productName" /></td>
                    </tr>
                    <br>
                    <tr>
                        <td align="right"> Product Price: &nbsp;</td>
                        <td align="left"><input type="text" name="productPrice" style="width: 200px;" [(ngModel)]="product.productPrice" /></td>
                    </tr>
                    <br>
                    <tr>
                        <td align="right"> Product Description: &nbsp;</td>
                        <td align="left"><input type="text" name="productDescription" style="width: 200px;" [(ngModel)]="product.productDescription" /></td>
                    </tr>
                    <br>
                    <tr>
                        <td align="right"> Product Image: &nbsp;</td>
                        <td align="left"><input type="text" name="productImage" style="width: 200px;" [(ngModel)]="product.imagePath" /></td>
                    </tr>

                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="registerProduct()" data-bs-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>