<div class="main-container">
    <div class="heading">
      <h1 class="heading__title" style="color: green; text-shadow: 10px;">Articles</h1>
      <p class="heading__credits"><a class="heading__link" target="_blank"><i>Get to know latest updates</i></a></p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Union Budget announces Rs 2,516 crore for computerisation of 63,000 Primary Agricultural Credit Societies</h2>
        <p class="card__apply">
          <a class="card__link" href="https://indianexpress.com/article/explained/what-are-primary-agricultural-credit-societies-8430329/"><i>Click to read more...</i><i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-2">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Budget 2023: Hits and misses in the agriculture sector</h2>
        <p class="card__apply">
          <a class="card__link" href="https://www.moneycontrol.com/news/business/budget/budget-2023-hits-and-misses-in-the-agriculture-sector-10028981.html"><i>Click to read more...</i><i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-3">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Ministry of Agriculture & Farmers Welfare (MoA&FW) signs MOU for developing...</h2>
        <p class="card__apply">
          <a class="card__link" href="https://pib.gov.in/PressReleasePage.aspx?PRID=1896689"><i>Click to read more...</i><i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-4">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Agriculture Goes Digital: India Unveils National Platform!</h2>
        <p class="card__apply">
          <a class="card__link" href="https://newsonair.com/2023/02/07/agriculture-goes-digital-india-unveils-national-platform/"><i>Click to read more...</i><i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-5">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Good news for farmers, now agriculture drones available at low interest rate</h2>
        <p class="card__apply">
          <a class="card__link" href="https://newsonair.com/2023/02/07/good-news-for-farmers-now-agriculture-drones-available-at-low-interest-rate/"><i>Click to read more...</i><i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Farm Sector growth robust, contributed significantly to food security</h2>
        <p class="card__apply">
          <a class="card__link" href="https://www.livemint.com/news/india/indias-farm-sector-growth-robust-contributed-towards-food-security-economic-survey-11675159018868.html"><i>Click to read more...</i><i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
  </div>